body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background :white;
}
.top_contents{
  background: #eeeeee;
  padding:20px 30px 0 30px;
  border-radius: 5px;
  height:85vh;
  margin:0;
}
.tittle {
  color: black;
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-decoration: none;
  margin:0;
  font-weight: bold;
}
.subtittle{
  margin-left: 20px;
  margin-top: 10px;
  background-color: lightgray;
  display:inline-block;
  padding: 0 5px;
}
.subtittle_sub1{
  /* margin-left: 0px; */
  font-size: 23px;
  margin-top: 0px;
  background-color: lightgray;
  display:inline-block;
  padding: 0 5px;
}
.subtittle_sub2{
  /* margin-left: 0px; */
  font-size: 23px;
  margin-top: 110px;
  background-color: lightgray;
  display:inline-block;
  padding: 0 5px;
}
.users_box{
  background: lightgray;
  padding: 30px 0px 10px;
  width:550px;
  height:280px;
  margin:0 auto;
  text-align: center;
  border-radius: 50%;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-shadow: 0 8px gray ;
  position:absolute;
  top:30%;
  left:30%;
}
.users_box:hover{
  /* margin:5px auto 5px; */
  position:absolute;
  top:31%;
  left:30%;
  box-shadow: 0 1px 1px 1px gray ;
}
.index_list{
  text-align: center;
  position: absolute;
  /* bottom:20px; */
  bottom:-2%;
  left:23%;
}
ul{
  margin: 0;
  padding:  0px;
  line-height: 230px;
  color: black;
  padding-top: 10px;

}
li{
  display:inline-block;
  margin:35px 40px 35px 35px;
  font-size: 30px;
  line-height: normal;
}
a{
  text-decoration: none;
  color:black;
}
input{
  display:block;
  margin:30px;
  width:300px;
  height:30px;
}
img{
  height:80%;
  width:80%;
  margin-top: 15px;
  border-radius: 50%;
}
.image_area{
  width:200px;
  height:200px;
  padding:10px;
  background-color: #eeeeee;
  text-align: center;
}
.image_area_self{
  width:120px;
  height:120px;
  padding:10px;
  /* background-color: #eeeeee; */
  border-radius: 20%;
  text-align: center;
  /* box-shadow: 0px 5px 5px 2px  lightgray; */
  /* border: solid 1px lightgray; */
}
.contents{
  width:90%;
  /* height:65vh; */
  padding:20px 20px 40px 40px;
  border:solid 2px #eeeeee;
  border-radius: 10px;
  margin:0 auto;
  box-shadow: 0px 5px 5px 2px  lightgray;
}
.contents2{
  width:90%;
  height:65vh;
  padding:20px 20px 40px 40px;
  border:solid 2px #eeeeee;
  border-radius: 10px;
  margin:0 auto;
  box-shadow: 0px 5px 5px 2px  lightgray;
}
.self_area{
  float:left;
  /* margin-right: 200px; */
}
.partner_area{
  display: inline-block;
  margin-left: 300px;
}
.panel_self{
  box-shadow: 0px 5px 5px 2px  lightgray;
  background:#EEEEEE;
  padding:10px;
  border-radius: 10px;
}
.panel_partner{
  background:#EEEEEE;
  padding:10px 45px 5px;
  border-radius: 10%;
  box-shadow: 0px 5px 5px 2px  lightgray;
  position: absolute;
  /* border:solid 2px lightgray; */
  z-index: 999;
}
.panel_partner1{
  background:#EEEEEE;
  padding:45px;
  border-radius: 10%;
  box-shadow: 0px 5px 5px 2px  lightgray;
  position: relative;
  /* border:solid 2px lightgray; */
  z-index: 998;
}
.add_cards{
  width:200px;
  height:370px;
  display:inline-block;
  position:absolute;
  top:168px;
  right:490px;
  background:#EEEEEE;
  padding:45px;
  border-radius: 10%;
  box-shadow: 0px 5px 5px 2px  lightgray;
  z-index: 1;
}
btn{
  border: 1px lightgray solid;
  border-radius: 20%;
  padding:15px;
  box-shadow: 0px 5px 5px 2px  lightgray;
}
form{
  display:inline-block;
}
.a{
  width:75px;
  height:45px;
  display:inline-block;
  color:gray;
  background-color:#FFFF88;
  margin-right: 30px;
  margin-left: 15px;
  box-shadow: 0px 5px 5px 2px  lightgray;
  border-radius: 20%;
  border: 1px lightgray solid;
  /* margin:0; */
  font-size: 13px;
}
.a:hover{
  cursor: pointer;
}
.good{
  width:75px;
  height:45px;
  display:inline-block;
  color:gray;
  background-color:#FFFF88;
  margin-right: 30px;
  margin-left: 15px;
  box-shadow: 0px 5px 5px 2px  lightgray;
  border-radius: 20%;
  border: 1px lightgray solid;
  /* margin:0; */
  font-size: 13px;
  text-align: center;
  line-height: 45px;
}
.good:hover{
  cursor: pointer;
}
.next:hover{
  cursor: pointer;
}
.next{
  width:70px;
  height:45px;
  display:inline-block;
  color:white;
  background-color: #87CEFA;
  margin-left: 20px;
  box-shadow: 0px 5px 5px 2px  lightgray;
  border-radius: 20%;
  border: 1px lightgray solid;
  font-size: 13px;
  text-align: center;
  line-height: 45px;
}
.b:hover{
  cursor: pointer;
}
.b{
  width:70px;
  height:45px;
  display:inline-block;
  color:white;
  background-color: #87CEFA;
  margin-left: 20px;
  /* padding:15px 18px; */
  box-shadow: 0px 5px 5px 2px  lightgray;
  border-radius: 20%;
  border: 1px lightgray solid;
  font-size: 13px;
}
h2{
  font-size: 22px;
}
h3{
  display:inline-block;
  margin-left: 60px;
}
h4{
  float:right;
  margin-right: 60px;
}
h5{
  display:inline-block;
}
.profile_area{
  margin-top: 15px;
  display:inline-block;
  margin-left: 50px;
  border-radius: 10px;
  padding:15px 70px;
  background-color: #eeeeee;
  box-shadow: 2px 5px 5px  lightgray;
  /* position: relative; */
}
.logout_area{
  /* position:absolute;
  bottom:0px; */
  margin:25px 60px 0px;
  font-size: 15px;
  font-weight: bold;
}
.matching_people{
  float:right;
  margin-right: 350px;
}
.prof_list{
  padding:10px;
  margin:0px;
}
.list{
  margin:0;
}
.btn_area{
  margin-top:10px;
}
.sign_up_form{
  /* border:solid 1px black; */
  display: inline-block;
  margin:20px 12%;
  padding:5px 0 20px;
  text-align: center;
}
input{
  margin:25px 0;
  text-align: center;
}
.sign_up_box {
  display:none;
  background-color: lightgray;
  border:solid 1px lightgray;
  padding:0px 180px 20px 100px;
  display:inline-block;
  text-align: center;
  margin:0 20px 0 27%;
  border-radius: 70%;
  box-shadow: 0 8px gray ;
}
.signUpBox{
  background-color: lightgray;
  border:solid 1px lightgray;
  padding:0px 180px 20px 100px;
  width:40%;
  /* display:inline-block; */
  text-align: center;
  margin:0 auto;
  border-radius: 70%;
  box-shadow: 0 8px gray ;
}
.profile_input {
  margin:8px 0 -5px;
}
.people_img{
  width:50px;
  height:50px;
  margin:20px 10px 0;
}
.matching_people {
  display: inline-block;
  width: 35%;
  margin:0 0 0 0px;
}
.message_area{
  padding:20px 20px 0;
  display: inline-block;
  width: 50%;
  height:400px;
  margin:20px 0 0 20px;
  border:solid 1px lightgray;
  border-radius: 5%;
  /* background-color: #eeeeee; */
  box-shadow: 2px 5px 5px  lightgray;
  overflow: scroll;
}

.partner_profile_area{
  margin-top: 20px;
  /* display:inline-block; */
  float:left;
  margin-left: 50px;
  border-radius: 10px;
  padding:15px 70px;
  /* background-color: #eeeeee;
  box-shadow: 2px 5px 5px  lightgray; */
  width:25%;
  position:relative;
}
.message_input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    padding: 0;
    border: solid 2px lightgray;
    outline: none;
    background: transparent;
    bottom:18%;
    position:absolute;

    width:38%;
    margin:0 0 35px 40px;
    border-radius: 10px;
    right:14%;
    height:4%;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    /* border: none; */
    outline: none;
    background: #eeeeee;
    display:inline-block;
    /* margin:0; */
}
.message_submit{
    right:225px;
    position:absolute;
    bottom:28px;
    margin:0 0 35px 40px;
    /* padding:20px; */
    /* line-height: 30px; */
    width:50px;
    height:45px;
    border-radius: 50%;
    border: solid 2px #eeeeee;
    box-shadow: 2px 5px 5px  lightgray;
    cursor: pointer;
}
.message_submit:hover{
  box-shadow: 1px 2px 5px  gray;
}
.matching_people_submit
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin:15px 0 0 10px;
  /* border: none; */
  outline: none;
  background: #eeeeee;
  width:50px;
  height:35px;
  /* border-radius: 50%; */
  border: solid 2px #eeeeee;
  box-shadow: 2px 5px 5px  lightgray;
  cursor: pointer;
}
.matching_people_submit:hover{
  box-shadow: 0.2px 0.1px 7px  gray;
}
.meet_people_form{
  display:inline-block;
  width:100px;
  height:100px;
}
.profile_submit{
  border:0.5px gray solid;
  border-radius: 5px;
}
.num_of_people{
  width:80px;
  display: inline-block;
  margin:10px 20px ;
}
.price_of_rent{
  width:240px;
  margin: 5px 10px 5px 3px;
  display: inline-block;
}
.top_list{
  color:black;
  cursor: pointer;
}
.hidden{
  display:none;
}
li{
  cursor: pointer;
}
button{
  cursor:pointer;
}
.my_img{
  width:60px;
  height:60px;
}
