extends layout

block content
  .top_contents
    .tittle_area
      p#tittle.tittle(href='/') share share 
      p.subtittle Let's share room together!
        
    .users_box   
      ul
        if user === undifined 
          li 
            a(href='/users') sign up    
          li
            a(href='/signin') log in
    
      if user === undifined 
          h2.subtittle_sub1  
            a(href="/meet") look for people      
      if user 
        h5.subtittle_sub2  
          a(href="/meet") look for people    
          
    .index_list
      ul
        li 
          a(href='/meet') share shareでroom share 
        li 
          a(href='/') share shareとは
       
