extends layout

block content
  div.tittle_area
    p#tittle.tittle(href='/') share share
    p.subtittle Let's share room together!
      
  div.users_box   
    ul
      li 
        a(href='/users') sign up
      li
        a(href='/') log in
        
  div.description
    ul
      li 
        a(href='/users') share shareでroom share 
      li 
        a(href='/users') share shareとは
       
  //- 
  //- - var objs =  1;
  //-  if objs === 1
  //-   p hello
  //- 
  //- - each m in users
  //-   ul
  //-     li= m.email
  //-     li= m.name
  //- 
       

  //- -each m in memoItem
  //-   ul
  //-     li= m.id
  //-     li= m.tittle
  //- 
  
  //- 
//- -document.getElementById('tittle').onclick = fucntion(){concole.log('a');}
//- 
//- //- - a.addEventListener('click', () => {console.log('hello');}, false);
//- - console.log('hello');
  //- - var target = document.getElementById('tittle');
  //- - target.addEventListener('mouseenter',()=>{
  //-   target.style.color = "black";
  //- });
