extends layout
//- extends header

block content
  h3  share shareでルームメイトを見つけよう
  h4 
    a(href="/mypage") my_profile
  .contents
    .self_area  
      .panel_self 
        p your profile
        // login user が入ります
        if user
          p
            a(href="/mypage") Name : #{user.name}
          .image_area_self
            a(href="/mypage")
              img(src="#{user.img}")
          p area:tokyo
        else 
          p  ログインしましょう
          

    .partner_area
      .panel_partner
        if users
          each user in users
            p Name : #{user.name}
            .image_area
              img(src="#{user.img}")
            .prof_list
              p.list  よろしく！
              p.list 旅行 
              p.list ▽              
            .btn_area
              a(href="/meet")
                btn.a Good        
              a(href="/meet")
                btn.b Next
                
      .add_cards        
                
