extends layout

block content
  p#tittle.tittle(href='/') share share
  p Welcome to #{title}
  p hello
  //- 
  //- - var objs =  1;
  //-  if objs === 1
  //-   p hello

  //- -each m in memoItem
  //-   ul
  //-     li= m.id
  //-     li= m.tittle
  //- 
